{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}User Account{% endblock %}</h1>
{% endblock %}


{% block undernavbar %}
<ul>
  <li><a class="action" href="{{ url_for('account.account_attendance', id=g.user['id']) }}">Attendance</a></li>
  <li><a class="action" href="{{ url_for('account.account', id=g.user['id']) }}">Home</a></li>
  <li><a href="{{ url_for('fixtures.upcoming_fixtures') }}">Fixtures</a></li>
</ul>
{% endblock %}


{% block content %}
  <article class="article">
    <body>
    <h1 class="home">User Options</h1>
      <article class="article">
      <a class="action" href="{{ url_for('account.edit_account', id=g.user['id']) }}">Edit Account</a>
      <a class="action" href="{{ url_for('account.change_password', id=g.user['id']) }}">Edit Password</a>
    </article>
    </body>
  </article>
{% endblock %}