{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}User Account{% endblock %}</h1>
{% endblock %}


{% block undernavbar %}
<ul>
  <li><a class="action" href="{{ url_for('account.account_attendance', id=g.user['id']) }}">Attendance</a></li>
  <li><a class="action" href="{{ url_for('account.account', id=g.user['id']) }}">User Home</a></li>
  <li><a href="{{ url_for('fixtures.upcoming_fixtures') }}">Fixtures</a></li>
</ul>
{% endblock %}


{% block content %}
  <article class="article">
    <body>
    <h1>Attendance</h1>
    {% if fixture_attendance %}
    {% for fixture in fixture_attendance %}
      <article class="article">
      <p>{{ fixture['fixture_date'] }}</p>
      <p>{{ fixture['match_type'] }} Match</p>
        {% if current_date > fixture['fixture_date'] %}
          <p>You {% if fixture['attending'] == 1 %} attended {% else %} haven't attended {% endif %} this match</p>
        {% else %}
          <p>You are {% if fixture['attending'] == 1 %} attending {% else %} not attending {% endif %} this match</p>
        {% endif %}
      <a class="action" href="{{ url_for('availability.update_availability', id=fixture['fixture_id']) }}">Edit Attendance</a>
      {% if not loop.last %}
        <hr>
      {% endif %}
        </article>
    {% endfor %}
    {% else %}
      <p>You haven't confirmed any availability</p>
      <p>Go to the <a href="{{ url_for('fixtures.upcoming_fixtures') }}">Fixtures</a> page to confirm availability </p>
    {% endif %}
    </body>
  </article>
{% endblock %}