{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="{{ request.form['password'] }}" placeholder="">
    <label for="new_password">New Password</label>
    <input type="password" name="new_password" id="new_password" value="{{ request.form['new_password'] }}" placeholder="">
    <label for="re_enter_new_password">Re-enter New Password</label>
    <input type="password" name="re_enter_new_password" id="re_enter_new_password" value="{{ request.form['re_enter_new_password'] }}" placeholder="">
    <input type="submit" value="Save">
  </form>
{% endblock %}