{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ main_title }}{% endblock %}</h1>
{% endblock %}

{% block undernavbar %}
    <ul>
      <li><a href="{{ url_for('fixtures.upcoming_fixtures') }}">Fixtures</a></li>
      <li><a href="{{ url_for('fixtures.all_results') }}">Results</a></li>
      <li><a href="{{ url_for('subs.view_subs') }}">Subs</a></li>
    </ul>
{% endblock %}

{% block content %}
  <div class="admin_grid">
    <div>
      <h1>Upcoming Five Fixtures</h1>
      <hr>
      {% for fixture in fixtures %}
      <article>
        <h1>{{ fixture['fixture_date'] }} - {{ fixture['match_type'] }} Match</h1>
        {% if fixture['total'] %}
          <p>There are {{ fixture['total'] }} people that have expressed availability</p>
        {% else %}
          <p>No expressed availability</p>
        {% endif %}
        <a href="{{ url_for('admin.register_user_attendance', id=fixture['id']) }}">Add user attendance</a>
      </article>
      {% if not loop.last %}
      <hr>
      {% endif %}
      {% endfor %}
    </div>
    <div>
      <h1>Previous Five Results</h1>
      <hr>
      {% for result in results %}
      <article>
        <h1>{{ result['fixture_date'] }} - {{ result['match_type'] }} Match</h1>
        <p>{% if result['result'] == "W" %} Wildcat Win {% elif result['result'] == "L" %} Wildcat Loss {% else %} Result not recorded {% endif %}</p>
        {% if result['result'] != "W" %}
        <a href="{{ url_for('results.create_result', id=result['fix_id']) }}">Add result</a>
        {% else %}
        <a href="{{ url_for('results.update_result', id=result['fix_id']) }}">Add result</a>
        {% endif %}
      </article>
      {% if not loop.last %}
      <hr>
      {% endif %}
      {% endfor %}
    </div>
    <div>
      <h1>Subs Overview </h1>
      <hr>
      {% for subs in all_subs %}
      <article>
        <h1>{{ subs['fixture_date'] }} - {{ subs['match_type'] }} Match</h1>
        <p>{% if not subs['total'] %}No users have paid subs {% else %}{{ subs['total'] }}{% endif %}</p>
        <a class="action" href="{{ url_for('subs.add_player_subs', id=subs['id']) }}">Register Player Subs</a>
      </article>
      {% endfor %}
      <hr>
      <article>
        <h1>Total Subs Gathered</h1>
        <p>Total Subs Gathered All Season: {{ total_subs[0] }}</p>
      </article>
    </div>
  </div>
{% endblock %}