{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ main_title }}{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('fixtures.create') }}">Add</a>
  {% endif %}
{% endblock %}

{% block undernavbar %}
    <ul>
      <li><a href="{{ url_for('fixtures.upcoming_fixtures') }}">Fixtures</a></li>
      <li><a href="{{ url_for('subs.view_subs') }}">Subs</a></li>
      <li><a href="{{ url_for('fixtures.all_results') }}">Results</a></li>
    </ul>
{% endblock %}

{% block content %}

{% endblock %}