{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ main_title }}{% endblock %}</h1>
  {% if g.user %}
  {% endif %}
{% endblock %}

{% block undernavbar %}
    <ul>
      <li><a href="{{ url_for('fixtures.all_fixtures') }}">All Fixtures</a></li>
      <li><a href="{{ url_for('fixtures.upcoming_fixtures') }}">Upcoming Fixtures</a></li>
      <li><a href="{{ url_for('fixtures.all_results') }}">Results</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Welcome Wildcat</h1>
{% endblock %}