{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Confirm Attendance{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1>Match on {{ fixture['fixture_date'] }}</h1>
  <form method="post">
      <div class="radio_div">
        <div>
          <label for="yes_confirmation">Can attend</label>
          <input type="radio" value="yes" name="confirmation" id="yes_confirmation">
        </div>
        <div>
          <label for="no_confirmation">Can't attend</label>
          <input type="radio" value="no" name="confirmation" id="no_confirmation">
        </div>
      </div>
    <input type="submit" value="Save">
  </form>
  <hr>
{% if g.user['is_admin'] %}
  <form action="{{ url_for('availability.delete_availability', fixture_id=fixture['id'], user_id=g.user['id'],) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endif %}
{% endblock %}