{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Confirm Attendance{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1>Match on {{ fixture['fixture_date'] }}</h1>
  <form method="post">
    <label for="confirmation">Availability: </label>
      <select name="confirmation" required>
        <option value="yes" id="confirmation">Available</option>
        <option value="no" id="confirmation">Not Available</option>
      </select>
    <input type="submit" value="Save">
  </form>
  <hr>
{% if g.user['is_admin'] %}
  <form action="{{ url_for('availability.delete_availability', fixture_id=fixture['id'], user_id=g.user['id'],) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endif %}
{% endblock %}